@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
/*
*/
@import "assets/css/partials/vars";
@import "assets/css/partials/vital";
@import "assets/css/partials/mobileMenuToggle";
@import "assets/css/partials/html";
@import "assets/css/partials/container";
@import "assets/css/partials/paralaxBanner";
@import "assets/css/partials/cartoons";
@import "assets/css/partials/linkTiles";
@import "assets/css/partials/btn";
@import "assets/css/partials/cartoonLink";
@import "assets/css/partials/press";


@import "node_modules/tailwindcss/utilities";