<form
  class="support-wide contact-form"
  action="https://formspree.io/f/xleqnodk"
  method="POST"
>
  <h3 class="tc support-header mb-8 mt-8"><b>Contact me:</b></h3>
  <label>
    Your email:
    <input type="email" name="email" class="w-full textInput" />
  </label>
  <label>
    Your message:
    <textarea name="message" class="w-full textInput"></textarea>
  </label>

  <div class="flex items-center">
    <button
      type="submit"
      class="bg-asher-blue font-bold text-white py-2 px-4 btn"
    >
      Send
    </button>
  </div>
</form>
