<div id="modal-success" aria-hidden="true" class="modal micromodal-slide">
<div tabindex="-1" class="modal__overlay" data-micromodal-close>
<div role="dialog" aria-modal="true" aria-labelledby="modal-success-title" class="text-center bg-light p-4 inline-block border-4 bg-white w-auto relative h-auto">
<header>
<h2 id="modal-success-title" class="text-success">Success!</h2>
<button aria-label="Close modal" data-micromodal-close class="absolute top-0 right-0 w-16 h-16 flex items-center justify-center text-4xl sliderAction">&times;</button></header>
<div class="text-3xl mt-4">Your message made it to Asher Perlman</div>
</div>
</div>
</div>
