<header class="siteHeader">
    <a href="#landing" class="logoLink">
        <h1 class="logoH1 sr-only">{{ .Title }}</h1>
        {{ $logo  := resources.GetMatch "asher/asher-logo-filled.svg" }}
        {{ $logo.Content | safeHTML }}
    </a>
    <div class="hidden md:block">

    </div>
    <nav class="text-3xl pageNav bg-asher-blue" id="pageNav">
        <ul>
            {{- range .Site.Menus.main }}
            <li class="bg-{{ .Page.Params.id }}-200 rounded-full border-t-2 border-b-2 border-l-4 border-r-4 border-asher-blue light-shadow">
                <a class="block align-top px-4 py-2 rounded-full text-center text-{{ .Page.Params.id }}-200" href="#{{.Page.Params.id}}">{{ .Title}}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
    {{- partial "mobileMenuToggle.html" . -}}
</header>
