<header class="bg-asher-blue md:h-screen md:w-navWidth sticky top-0 flex md:block">
    <a href="#landing" class="inline-block border-8 border-asher-blue text-blue-500 text-4xl text-asher-lblue bg-default">
        <h1 class="border-8 border-asher-pink px-4 text-center">{{ .Title }}</h1>
    </a>
    <div class="hidden md:block">
        {{ $bolt  := resources.GetMatch "sidebar/bolt.svg" }}
        {{ $bolt.Content | safeHTML }}
    </div>


    <nav class="text-3xl pageNav bg-asher-blue" id="pageNav">
        <ul>
            {{- range .Site.Menus.main }}
            <li class="bg-{{ .Page.Params.id }}-200 border-t-2 border-b-2 border-l-4 border-r-4 border-asher-blue hover:border-asher-blue light-shadow">
                <a class="block align-top px-4 py-2 text-center text-{{ .Page.Params.id }}-200 hover:text-default hover:bg-{{ .Page.Params.id }}-200" href="#{{.Page.Params.id}}">{{ .Title}}</a>
            </li>
            {{- end }}
        </ul>
    </nav>
    {{- partial "mobileMenuToggle.html" . -}}
</header>
<script type="text/javascript">
    const toggleActions = document.querySelectorAll('[data-toggle-body-class]');
    toggleActions.forEach(function(toggleAction){
        var toggleClass = toggleAction.getAttribute('data-toggle-body-class');
        let toggleState = toggleAction.getAttribute('aria-expanded');
        console.log(toggleState);
        toggleAction.addEventListener('click', function(){
            document.body.classList.toggle(toggleClass);
            toggleState = (toggleState === 'false') ? 'true' : 'false';
            toggleAction.setAttribute('aria-expanded', toggleState);
            console.log(toggleState);
        });
    });
</script>