<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ block "title" . }}{{ .Site.Title }}</title>
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
  <meta name="author" content="Asher Perlman">
  {{ template "_internal/opengraph.html" . }}
  {{/* */}}
  {{- partial "cssCompile.html" . -}}
  <!-- <link rel="stylesheet" href="css/style.css?v=2">  -->
  {{- partial "favicons.html" . -}}
</head>


