<picture>
    {{- $rotation := "" -}}
    {{- $image  := .image -}}
    {{- $sizes := .sizes -}}
    {{- $breakpoints := .breakpoints -}}
    {{- $formats := slice "webp" "jpeg" -}}
    {{- $defaultImage := $image -}}
    {{- with $image.Exif -}}
        {{- $orientation  := .Tags.Orientation -}}
        {{- if in (slice 3 4) $orientation -}}
            {{ $rotation = " r180" }}
        {{- else if in (slice 5 6) $orientation -}}
            {{ $rotation = " r270" }}
        {{- else if in (slice 7 8) $orientation -}}
            {{ $rotation = " r90" }}
        {{- end -}}
    {{- end -}}
    {{- range $sizes -}}
    {{- $size := .size -}}
    {{- $breakpoint := .breakpoint -}}
    {{- $size2x := (mul $size 2) -}}
        {{- range $formats -}}
        {{- $sized_image := $image.Resize (print $size "x " .  $rotation) -}}
        {{- $sized_image2x := $image.Resize (print $size2x "x " .  $rotation) -}}
        {{- if and (eq $size (index $sizes -1)) (eq . (index $formats -1)) -}}
                {{- $defaultImage = $sized_image -}}
            {{- else -}}
            <source media="(min-width: {{$breakpoint}}px)"
                    width="{{ $sized_image.Width }}"
                    height="{{ $sized_image.Height }}"
                    srcset="{{ $sized_image.RelPermalink }}, {{ $sized_image2x.RelPermalink}} 2x"
                    type="{{ print "image/" . }}" />
            {{- end -}}
        {{- end -}}
    {{- end -}}
    <img src="{{ $defaultImage.RelPermalink }}" width="{{ $defaultImage.Width }}" height="{{ $defaultImage.Height }}" loading="lazy" alt="{{ .alt }}">
</picture>
