<script src="https://cdn.jsdelivr.net/gh/cferdinandi/gumshoe@4/dist/gumshoe.polyfills.min.js"></script>
<script>

    // var header = document.querySelector('.siteHeader');
	var spy = new Gumshoe('.pageNav a', {
        // offset: function () {
        //     if(document.body.clientWidth >= 768) {
        //         return 0;
        //     }
		//     return header.getBoundingClientRect().height;
	    // }
    });

    // toggle class - modal??
    const toggleActions = document.querySelectorAll('[data-toggle-body-class]');
    toggleActions.forEach(function(toggleAction){
        var toggleClass = toggleAction.getAttribute('data-toggle-body-class');
        let toggleState = toggleAction.getAttribute('aria-expanded');
        toggleAction.addEventListener('click', function(){
            document.body.classList.toggle(toggleClass);
            toggleState = (toggleState === 'false') ? 'true' : 'false';
            toggleAction.setAttribute('aria-expanded', toggleState);
        });
    });
    const navLinks = document.querySelectorAll('.pageNav a, .logoLink');
    for (let index = 0; index < navLinks.length; index++) {
        const navLink = navLinks[index];
        navLink.addEventListener('click', function(){
        document.body.classList.remove('mobileNavShow');
    });
    }
</script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js
"></script>
<script>
    MicroModal.init({
        onShow: modal => document.body.classList.add('modal-active'), // [1]
        onClose: modal => setTimeout(function(){
            document.body.classList.remove('modal-active');
        }, 300), // [2]
    });

getParameter = (key) => {
  address = window.location.search
  parameterList = new URLSearchParams(address)
  return parameterList.get(key)
}

if(getParameter("success") == 1) {
    MicroModal.show('modal-success');
}

    for (var links = document.querySelectorAll("a[href^=http], a[href^=mailto]"), i = 0, a; a = links[i]; i++) {
        if (a.host !== location.host) {
                a.target = '_blank';
                a.rel = 'noopener noreferrer';
        }
    }

</script>