<section id="{{.Params.id}}" class="section bg-{{.Params.id}}-200">
    {{ $image := .Params.imageFill }}
    {{ $alt := .Params.imageFillAlt }}
    {{ if $image }}
    <div class="coverWrap absolute z-0 top-0 right-0 left-0 bottom-0">
        {{ partial "image.html" (resources.Get $image) }}
        <style>
            .coverWrap img {
                object-fit: cover;
                width: 100%;
                display: block;
                object-position: 50% 18%;
                height: 100%;
                position: absolute;
            }
        </style>
    </div>
    {{ end }}
    <div class="relative z-10">
        {{if eq .Params.layout "image-left-screen"}}
            {{ $image := .Params.featuredImage }}
            <div class="flex">
                <div class="w-1/2 coverWrap relative">
                    {{ partial "image.html" (resources.Get $image) }}
                </div>
                <div class="w-1/2 p-6 prose">
                    {{ .Content }}
                </div>
            </div>
            
            
        {{ else }}
            <div class="prose">
                {{ .Content }}
            </div>
        {{ end }}
    </div>
</section>