<!-- <div class="slider" data-position="0" style="max-width: 400px">
    <div class="slider__slidesWrap" >
        <div class="slider__slides">
            <div style="background-color: blue;">this</div>
            <div style="background-color: red;">is</div>
            <div style="background-color: green;">a</div>
            <div style="background-color: yellow;">test</div>
        </div>
    </div>
    <a role="button" class="slider__prev">previous</a>
    <a role="button" class="slider__next">next</a>
</div> -->
