{{ define "main" }}
    {{ range where .Pages "Section" "home" }}
        {{ range .Pages }}
            <section id="{{ .Params.id }}" class="section bg-{{ .Params.id }}-200 {{ .Param "border" }}">
                {{ .Render .Params.layout }}
            </section>
        {{ end }}
    {{ end }}
    <section class="section footer-thank-you light-grey-border">
        <div class="container">
            <div class="lightShadowSvg" style="padding-top:2rem;padding-bottom:2rem;padding-right:1rem;padding-left:1rem">
            {{ partial "svg/thanksForVisiting.svg" . }}
        </div>
        </div>
    </section>
{{ end }}