{{ if .Param "sold_out_boolean" }}
    <div class="mb-2 ml-4 stop-list-marker">
{{ else }}
    <a class="mb-2 ml-4 stop-list-marker" href="{{ .Param " purchase_link" }}">
{{ end }}
    <span>{{.Date | time.Format "Jan 2"}}</span>
    <span> - </span>
    <span class="book-title">{{.Title}}</span>
    <span> - </span>
    {{ with .Param "venue" }}
        <span><i>{{ . }}.</i></span>
    {{ end }}
    {{ with .Param "show_description" }}
        <span> {{ . }}</span>
    {{ end }}
{{ if .Param "sold_out_boolean" }}
        <span> | </span>
        <span>SOLD OUT</span>
    </div>
{{ else }}
    </a>
{{ end }}