<div class="container container-contact">
<div class="sm:grid md:grid-cols-2 contact">
    <div class="right image1">
        {{ $image1  := .Resources.GetMatch "twitter"  }}
        <a href="{{ .Params.twitter }}" target="_blank">
            {{ partial "image.html" $image1 }}
        </a>
    </div>
    <div class="image2">
        {{ $image2  := .Resources.GetMatch "instagram"  }}
        <a href="{{ .Params.instagram }}" target="_blank">
            {{ partial "image.html" $image2 }}
        </a>
    </div>
    <div class="right image3">
        {{ $image3  := .Resources.GetMatch "friendly"  }}
        {{ partial "image.html" $image3 }}
    </div>
    {{ partial "contactform.html" . }}
</div>
</div>