<div class="container pb-section">
    <h2 class="sectionHeader">{{ .Title }}</h2>
    <div class="sectionContent">
        {{ .Content }}
    </div>
    <div class="grid md:grid-cols-2 gap-4 mt-8">
        {{ range $item := .Params.tiles }}
        {{ $logoName := $item.logo}}
        <a href="{{ $item.url }}" class="linkTile p-4 hover:text-writings-800 external-link flex flex-col text-center hover:border-writings-900 relative" target="_blank">
            {{- partial "logo" (dict "logoName" $logoName ) -}}
            <h3 class="mb-4 text-2xl font-bold">
                {{ $item.title }}
            </h3>
        </a>
        {{ end }}
    </div>
</div>
