<div class="container pb-section">
    <h2 class="sectionHeader">{{ .Title }}</h2>
    <div class="sectionContent">
        {{ .Content }}
    </div>
    <div class="grid md:grid-cols-2 gap-4 mt-8">
        {{ range $item := .Params.tiles }}
        {{ $logoName := $item.logo}}
        <a href="{{ $item.url }}" class="linkTile p-4 pt-8 hover:text-writings-800 flex flex-col text-center hover:border-writings-900 relative" target="_blank">
            <h3 class="flex-1 mb-4 text-2xl font-bold">{{ $item.title }}</h3>
            {{- partial "logo" (dict "logoName" $logoName ) -}}
            <svg class="icon icon-external-link"><use xlink:href="#icon-external-link"></use></svg>
        </a>
        {{ end }}
    </div>
</div>
