<div class="container pb-section">
<h2 class="sectionHeader">{{ .Params.title }}</h2>
<div class="sectionContent">
  {{ .Content }}
</div>
<div data-slider-nav="#cartoonsSlider" 
  class="py-8 grid grid-cols-2 sm:grid-cols-3 gap-4"
>
  {{ range .Resources.ByType "image" }}
  <a role="button" class="block" data-modal-target="#cartoonsModal">
    {{ partial "image.html" . }}
  </a>
  {{ end }}
</div>

<div id="cartoonsModal" class="modal md:flex items-center hide">
  <div class="flex md:block justify-end">
    <button data-close-button class="md:absolute top-0 right-0 w-16 h-16 flex items-center justify-center text-4xl text-white bg-asher-blue">&times;</button>
  </div>
  <div id="cartoonsSlider" class="slider flex items-center" data-position="0">
    <a role="button" class="slider_nav slider__prev">&larr;</a>
    <div class="slider__slidesWrap">
      <div class="slider__slides">
        {{ range .Resources.ByType "image" }}
        <div class="flex justify-center items-center">
          {{ partial "image.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
    <a role="button" class="slider_nav slider__next">&rarr;</a>
  </div>
  
</div>
<div id="overlay"></div>

<script type="module">
  import swipedEvents from 'https://cdn.skypack.dev/swiped-events'; 

</script>

<script>


  
    const sliders = document.querySelectorAll('.slider');
    sliders.forEach(slider => {
        let slidesWrap = slider.querySelectorAll('.slider__slides');
        let remoteSliderNav = document.querySelector("[data-slider-nav='#" + slider.id + "']");
        let remoteSliderNavLinks = remoteSliderNav.querySelectorAll('a');
        let slides = slider.querySelectorAll('.slider__slides > div');
        let slideMaxIndex = slides.length - 1;
        let sliderNav = slider.querySelectorAll('.slider__prev, .slider__next');
        
        slidesWrap[0].style.left = '0%';
        slidesWrap[0].style.width = slides.length + '00%';

        // console.log(remoteSliderNavLinks);
        for (i = 0; i < remoteSliderNavLinks.length; i++) {
          remoteSliderNavLinks[i].setAttribute('index', i);
        }
        
        remoteSliderNavLinks.forEach(button => {
            button.addEventListener('click', () => {
              slidesWrap[0].style.left = '-' + button.getAttribute('index') + '00%';
            });
        });

        sliderNav.forEach(button => {
            button.addEventListener('click', () => {
                let sliderPosition = slider.dataset.position;
                if(button.classList.contains("slider__prev")) {
                    sliderPosition--;
                    if(sliderPosition < 0) {
                        sliderPosition = slideMaxIndex;
                    }
                }
                if(button.classList.contains("slider__next")) {
                    sliderPosition++;
                    if(sliderPosition > slideMaxIndex) {
                        sliderPosition = 0;
                    }
                }
                slider.dataset.position = sliderPosition;
                slidesWrap[0].style.left = '-' + sliderPosition + '00%';
            });
        });
        const prevButton = document.querySelector('.slider__prev');
        const nextButton = document.querySelector('.slider__next');

        document.addEventListener('swiped', function(e) {

          if(e.detail.dir == 'right') {
            prevButton.click();
  }
  if(e.detail.dir == 'left') {
    nextButton.click();
}
});

        // sliderPrev.addEventListener('click', () => {
        //     console.log('h0ads')
        // });
    });

</script>
</div>