<div class="container pb-section">
<h2 class="sectionHeader">{{ .Params.title }}</h2>
<div class="sectionContent">
  {{ .Content }}
</div>
<div data-slider-nav="#cartoonsSlider" 
  class="py-8 grid grid-cols-2 sm:grid-cols-3 gap-4"
> 
  {{ range .Resources.ByType "image" }}
  <button type="button" class="block cartoonLink" data-micromodal-trigger="cartoonsModal" >
    {{ partial "image.html" . }}
  </button>
  {{ end }}
</div>

<div id="cartoonsModal" aria-hidden="true" class="modal micromodal-slide  md:flex items-center">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
  <header class="flex md:block justify-end">
    <h2 class="sr-only" id="modal-1-title">Cartoons Slider</h2>
    <button aria-label="Close modal" data-micromodal-close class="md:absolute top-0 right-0 w-16 h-16 flex items-center justify-center text-4xl sliderAction">&times;</button>
  </header>
  <div  class="slider flex items-center" data-position="0">
    
    <div class="slider__slidesWrap flex-1">
      <div class="slider__slides" id="cartoonsSlider">
        {{ range .Resources.ByType "image" }}
        <div class="flex justify-center items-center w-full">
          {{ partial "image.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
    <button aria-label="Next Slide" type="button" class="sliderAction slider_nav slider__next">&rarr;</button>
    <button aria-label="Previous Slide" type="button" class="sliderAction slider_nav slider__prev">&larr;</button>
  </div>
</div>
  </div>
</div>

<script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script>
  var isNext = true;
    var sliderElem = document.getElementById('cartoonsSlider');
    var slider = simpleslider.getSlider({
      container: sliderElem,
      paused: true,
      init: 100,
  show: 0,
  end: -100,
  unit: '%',
    });
    var manager = new Hammer.Manager(sliderElem);
    var Swipe = new Hammer.Swipe();

    manager.add(Swipe);

    manager.on('swiperight', function() {
      if (isNext) {
        slider.reverse();
        isNext = false;
      }
      slider.next();
    });

    manager.on('swipeleft', function() {
      if (!isNext) {
        slider.reverse();
        isNext = true;
      }
      slider.next();
    });

  document.querySelector('.slider__next').addEventListener('click', function(){
    if (!isNext) {
        slider.reverse();
        isNext = true;
      }
      slider.next();
  });
  document.querySelector('.slider__prev').addEventListener('click', function(){
    if (isNext) {
        slider.reverse();
        isNext = false;
      }
      slider.next();
  });
</script>


<script>

    

//     document.addEventListener('keydown', function(event) {
//           var keycode = event.which || event.keyCode;
//           if(keycode === 37) {
//             prevButton.click();
//           }
//           if(keycode === 39) {
//             nextButton.click();
//           }
//         });
//         document.addEventListener('swiped', function(e) {
          
//           if(e.detail.dir == 'right') {
//             prevButton.click();
//   }
//   if(e.detail.dir == 'left') {
//     nextButton.click();
// }
// });
</script>
</div>

<style>

  [role="dialog"] {
    width: 100%;
  }
  
</style>