<div class="container container-contact balance-text">
  <h2 class="sectionHeader">{{ .Title }}</h2>
  <div class="md:grid contact-grid contact gap-md">
    <div class="grid-left">
      <a
        href="https://shop.ashermaxperlman.com/"
        target="_blank"
        class="shop-link flex h100 justify-center align-center margin-auto items-center mt-4"
      >
        <h4 class="tc mb-4">Pick up prints, etc. in my shop</h4>
        {{ partial "svg/shop.svg" . }}
      </a>
    </div>
    <div class="grid-right ">
      <a
        href="https://www.patreon.com/asherperlman"
        target="_blank"
        class="patreon-link h100 flex justify-center align-center margin-auto items-center"
      >
        <h4 class="tc mb-4">Get bonus content and support me on Patreon</h4>
        {{ partial "svg/patreon.svg" . }}
      </a>
    </div>
  </div>
</div>
