<div class="container container-contact">
  <h2 class="sectionHeader">{{ .Title }}</h2>
  <div class="pt-6 md:grid contact-grid contact gap-sm">
    <div class="grid-left support">
      <a
        href="https://shop.ashermaxperlman.com/"
        target="_blank"
        class="shop-link flex h100 justify-center align-center margin-auto no-wrap items-center mt-4"
      >
        <h4 class="tc mb-4 wrap">Pick up prints, etc. in my shop</h4>
        {{ partial "svg/shop.svg" . }}
      </a>
    </div>
    <div class="grid-right support">
      <a
        href="https://www.patreon.com/asherperlman"
        target="_blank"
        class="patreon-link h100 flex justify-center align-center margin-auto no-wrap items-center"
      >
        <h4 class="tc mb-4 wrap">Get bonus content and support me on Patreon</h4>
        {{ partial "svg/patreon.svg" . }}
      </a>
    </div>
    <div
      class="full-grid-width support-wide support-footer tc m-4 lightShadowSvg"
    ></div>
  </div>
</div>
