html {
    scroll-behavior: smooth;
  }

.alternate-grid p {
  grid-column: 1 / span 2;
  text-align: right;
}

.alternate-grid p:nth-child(even) {
  grid-column-start: 2;
  text-align: left;
}

.alternate-grid p:empty { 
  display: none 
}

.contact svg {
  width: 60%;
  margin: auto;
}

.contact img {
  max-height: 40vh;
}