html {
    scroll-behavior: smooth;
  }

.alternate-grid p, .alternate-grid h3 {
  grid-column: 1 / span 2;
  text-align: right;
  margin: auto;
}

.alternate-grid h3:nth-child(2),.alternate-grid p:nth-child(even) {
  grid-column-start: 2;
  text-align: left;
  margin: auto;
}

.alternate-grid p:empty {
  display: none
}

.contact {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.contact p:nth-child(1) {
  position: relative;
  right: -1rem;
  bottom: -2rem;
  align-self: end;
}

.contact p:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
  position: relative;
  right: 1rem;
  align-self: center;
}

.contact picture:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
  position: relative;
  top: -2rem;
  z-index: -1000;
}

.contact .contactform {
  grid-row: 3;
  grid-column: 2;
}

.contact img {
  max-height: 140%;
  margin-left: auto;
  border-radius: 20px;
}