html {
    scroll-behavior: smooth;
  }

.light-shadow:hover, .light-shadow:focus, .light-shadow a:active {
  text-shadow: 0 0 rgba(0, 0, 0, 0.61);
}

.light-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.741);
}

.alternate-grid p, .alternate-grid h3 {
  grid-column: 1 / span 2;
  text-align: right;
  margin: auto;
}

.alternate-grid h3:nth-child(2),.alternate-grid p:nth-child(even) {
  grid-column-start: 2;
  text-align: left;
  margin: auto;
}

.alternate-grid p:empty {
  display: none
}

.contact .image1 {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: -1rem;
  margin-right: -1rem;
  margin-top: .5rem;
}

.contact .image2 {
  grid-row: 2;
  grid-column: 2;
  margin-left: -.5rem;
}

.contact .image3 {
  grid-row: 3 / span 2;
  grid-column: 1;
  margin-bottom: 1rem;
  margin-right: -.5rem;
  margin-top: -.5rem;
}

.contact .contactform {
  grid-row: 3 / span 2;
  grid-column: 2;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 25rem;
}

.contact .right img {
  float: right;
}

.contact img {
  border-radius: 20px;
  max-height: 100%;
  object-fit: contain;
}

.contact img {
  border-radius: 20px;
  max-height: 100%;
  object-fit: contain;
}