@mixin mobileMenuToggle($color, $barWidth, $width, $height, $sandwichSpeed, $rotateSpeed, $timingFunction) {
  width: $width;
  height: $height;
  position: relative;
  display: block;
  $gapWidth: $height - $barWidth*3;
  $barPull: ($gapWidth)*-1;
  
  span, span:before, span:after {
    display: block;
    height: $barWidth;
    width: 100%;
    background-color: $color;
    content: "";
    position: absolute;
  }
  span {
    position: relative;
    transition: background-color 0s #{$timingFunction} #{$rotateSpeed};
    body.mobileNavShow & {
      background-color: transparent;
      transition: background-color 0s #{$timingFunction} #{$sandwichSpeed};
    }
  }
  span:before {
    top: $barPull;
    transition: top #{$sandwichSpeed} #{$timingFunction} #{$rotateSpeed}, transform #{$rotateSpeed} #{$timingFunction};
    body.mobileNavShow & {
      top: 0;
      transform: rotate(45deg);
      transition: top #{$sandwichSpeed} #{$timingFunction}, transform #{$rotateSpeed} #{$timingFunction} #{$sandwichSpeed};
    }
  }
  span:after {
    bottom: $barPull;
    transition: bottom #{$sandwichSpeed} #{$timingFunction} #{$rotateSpeed}, transform #{$rotateSpeed} #{$timingFunction};
    body.mobileNavShow & {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom #{$sandwichSpeed} #{$timingFunction},transform #{$rotateSpeed} #{$timingFunction} #{$sandwichSpeed};
    }
  }
}
.aboutImg {
  @include respond(xs) {
    display: none;
  }
}
.w-100 {
  width: 100%;
}
.md\:w-1\/2 {
  @include respond(sm) {
    width: 50%;
  }
}
.mobileMenuToggle {
  &:focus {
    outline: 0;
  }
  @include mobileMenuToggle(#fff, 0.4rem, 2rem, 2rem, .2s, .2s, cubic-bezier(.215,.61,.355,1));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  display: none;
  @include respond(xs) {
    display: block;
  }
}


// section {
//   display: none !important;
//   &:nth-child(4) {
//     display: block !important;
//   }
// }