.paralaxBanner {
  @apply absolute top-0 right-0 bottom-0 left-0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  @include respond(xs) {
    background-image: none !important;
    background-color: #000;
  }
}
.paralaxBanner img {
  width: 100%;
  @apply absolute h-full object-cover;
}

#videos {
  z-index: 0;
  padding-bottom: 3rem;
  .prose {
    max-width: none;
  }
  .prose,
  .prose > * {
    color: inherit;
  }
}

.paralaxBannerHeader {
  
  @include respond(sm) {
    min-height: 14rem;
  }
}

.sectionHeader {
  @apply text-center pt-8 mb-8;
  font-weight: bold;
}
h2 {
  @apply text-4xl md:text-6xl;
  font-weight: bold;
}
.sectionContent {
  > p:first-child {
    max-width: 57rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    text-align: center;
    @include respond(sm) {
      font-size: 2rem;
    }
  }
}

.gridHeader {
  grid-column: 1 / span 3;
}

