.quotes {
    font-size: 2rem;
    
    @include respond(xs) {
        p {
            text-align: center !important;
        }
    }
    @include respond(sm) {
        font-size: 2.5vw;
    }
    svg {
        height: auto;
        @include respond(xs) {
            margin: 1rem 0 2rem;
        }
        &[aria-label="Chicago Tribune"] {
            width: 10em;
        }
        &[aria-label="Vulture"] {
            width: 6.5em;
        }
    }
}