
body {
  background: pink;
  font-size: 20px;
  @screen md {
    display: flex;
  }
}

section {
  @apply relative min-h-screen;
}

header {
  position: relative;
  z-index: 11;
  h1 {
    @include respond(xs) {
      font-size: 2rem;
    }
  }
}

.pageNav {
  li:not(.active) {
      background: transparent !important;
  }
  li.active a {
    @apply text-default;
  }
  
}
@media screen and (max-width: 767px) {
  .pageNav {
    position:fixed;
    z-index: 50;
    top: var(--mobileHeaderHeight);
    bottom: 0;
    overflow: auto;
    left: 0;
    width: 50%;
    max-width: 12rem;
    transition-duration: 0.3s;
    transform: translateX(-100%);
  }
  body.mobileNavShow .pageNav {
    transform: translateX(0);
  }
  body:not(.mobileNavShow) .pageNav a {
    pointer-events: none;
    cursor: default;
    user-select: none;
  }
}

.logo {
  max-height: 10rem;
}