
body {
  background: pink;
  font-size: 20px;
  @screen md {
    display: flex;
  }
}

section {
  @apply relative min-h-screen;
}

header {
  position: relative;
  z-index: 10;
  
}

.pageNav {
  li:not(.active) {
      background: transparent !important;
  }
  li.active a {
    @apply text-default;
  }
  
}

.logo {
  max-height: 10rem;
}