
body {
  background: pink;
  font-size: 20px;
  @screen md {
    display: flex;
  }
}

.coverWrap {
  @include respond(xs) {
    padding-bottom: 60%;
    position: relative !important;
  }
  img {
    object-fit: cover;
    width: 100%;
    display: block;
    object-position: 50% 18%;
    height: 100%;
    position: absolute;
  }
}

section {
  @apply relative;
  &#landing {
    @apply sm:min-h-screen;
  }
}
body .pb-section {
  padding-bottom: 4rem;
}

.siteHeader {
  position: relative;
  z-index: 11;
  @include respond(xs) {
    height: var(--mobileHeaderHeight);
  }
  h1 {
    @include respond(xs) {
      font-size: 25px;
    }
  }

}
.pageNav {
  @include respond(xs) {
    padding-top: 1rem;
  }
  li:not(.active) {
      background: transparent !important;
  }
  li.active a {
    @apply text-default;
    text-shadow: none;
  }

}

@media screen and (max-width: 767px) {
  .pageNav {
    position:fixed;
    z-index: 50;
    top: var(--mobileHeaderHeight);
    bottom: 0;
    overflow: auto;
    left: 0;
    width: 100%;
    max-width: 12rem;
    transition-duration: 0.3s;
    transform: translateX(-100%);
  }
  body.mobileNavShow .pageNav {
    transform: translateX(0);
  }
  body:not(.mobileNavShow) .pageNav a {
    pointer-events: none;
    cursor: default;
    user-select: none;
  }
}

.logo {
  max-height: 10rem;
}

.text-success {
  color: rgb(14, 99, 14);
}