
body {
  background: pink;
  font-size: 20px;
  display: flex;
}

section {
  @apply relative min-h-screen;
}

header {
  height: 100vh;
}

.pageNav {
  li:not(.active) {
      background: transparent !important;
  }
  li.active a {
@apply text-default;
  }
}